<div class="row" style="padding:0px">
  <div class="col-md-12 "  style="padding:0px">
    <div class="portlet1 gray "  style="padding:0px">

      <div class="title">
        Survey 1
      </div>
      <div class="portlet-body form"  style="padding:0px">

        <form [formGroup]="form" class="ui form">
          <div class="form-body">


            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="hasError('alreadyhavediabetic')">
                  <label class="control-label bold">1. Have you ever been diagnosed with diabetes?</label>
                <select class="form-control " formControlName="alreadyhavediabetic" id="alreadyhavediabetic" name="alreadyhavediabetic">
                  <option value="">--Select--</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </div>
            </div>
            </div>
            <div *ngIf="form.controls.alreadyhavediabetic.value=='Y'">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="hasError('typeofdiabetic')">
                    <label class="control-label bold">1.1 If you are a diabetic, what type are you?</label>
                  <select class="form-control " formControlName="typeofdiabetic" id="typeofdiabetic" name="typeofdiabetic">
                    <option value="">--Select--</option>
                    <option value="type1">Type 1 Diabetic</option>
                    <option value="type2">Type 2 Diabetic</option>
                    <option value="doneknow">Don't know</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="hasError('diabeteswhenpregnant')">
                  <label class="control-label bold">
                    2. If you have ever been pregnant, did you have diabetes during your pregnancy(gestational diabetes)?</label>
                <select class="form-control " formControlName="diabeteswhenpregnant" id="diabeteswhenpregnant" name="diabeteswhenpregnant">
                  <option value="">--Select--</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="hasError('familywithdiabetic')">
                  <label class="control-label bold">3. Has your mother, father, brother or sister ever been diagnosed with diabetes?</label>
                <select class="form-control " formControlName="familywithdiabetic" id="familywithdiabetic" name="familywithdiabetic">
                  <option value="">--Select--</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </div>
            </div>
          </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="hasError('familyheartdesease')">
                  <label class="control-label bold">4. Has your mother, father, brother or sister ever had heart disease or a stroke?</label>
                <select class="form-control " formControlName="familyheartdesease" id="familyheartdesease" name="familyheartdesease">
                  <option value="">--Select--</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </div>
            </div>
          </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="hasError('diagnosedwithhighbloodpressure')">
                  <label class="control-label bold">5. Have you ever been diagnosed with high blood pressure?</label>
                <select class="form-control " formControlName="diagnosedwithhighbloodpressure" id="diagnosedwithhighbloodpressure" name="diagnosedwithhighbloodpressure">
                  <option value="">--Select--</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </div>
            </div>
          </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="hasError('physicallyactive')">
                  <label class="control-label bold">6. Are you physically active?</label>
                <select class="form-control " formControlName="physicallyactive" id="physicallyactive" name="physicallyactive">
                  <option value="">--Select--</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </div>
            </div>
          </div>

            <div *ngIf="form.controls.physicallyactive.value=='Y'">


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="hasError('typeofexercise')">
                    <label class="control-label bold">6.1. How would you describe most of your exercise?</label>
                  <select class="form-control " formControlName="typeofexercise" id="typeofexercise" name="typeofexercise">
                    <option value="">--Select--</option>
                    <option value="Moderate">Moderate (e.g. walking, gentle swimming)</option>
                    <option value="Vigorous">Vigorous (e.g running, fast swimming)</option>
                  </select>
                </div>
              </div>
            </div>
            </div>


            <div *ngIf="form.controls.typeofexercise.value=='Moderate' && form.controls.physicallyactive.value=='Y'">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="hasError('exerciseperweek30min')">
                    <label class="control-label bold">6.1.a. How many times each week do you exercise for atleast 30mins a day?</label>
                  <select class="form-control " formControlName="exerciseperweek30min" id="exerciseperweek30min" name="exerciseperweek30min">
                    <option value="">--Select--</option>
                    <option value="1">1 day a week</option>
                    <option value="2">2 days a week</option>
                    <option value="3">3 days a week</option>
                    <option value="4">4 days a week</option>
                    <option value="5">5 days a week</option>
                    <option value="6">6 days a week</option>
                    <option value="7">7 days a week</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

            <div *ngIf="form.controls.typeofexercise.value=='Vigorous' && form.controls.physicallyactive.value=='Y'">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="hasError('exerciseperweek15min')">
                    <label class="control-label bold">6.1.a. How many times each week do you exercise for atleast 15mins a day?</label>
                  <select class="form-control " formControlName="exerciseperweek15min" id="exerciseperweek15min" name="exerciseperweek15min">
                    <option value="">--Select--</option>
                    <option value="1">1 day a week</option>
                    <option value="2">2 days a week</option>
                    <option value="3">3 days a week</option>
                    <option value="4">4 days a week</option>
                    <option value="5">5 days a week</option>
                    <option value="6">6 days a week</option>
                    <option value="7">7 days a week</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="hasError('doyousmoke')">
                  <label class="control-label bold">7. Do you smoke</label>
                <select class="form-control" formControlName="doyousmoke" id="doyousmoke" name="doyousmoke">
                  <option value="">--Select--</option>
                  <option value="N">No</option>
                  <option value="Y">Yes</option>
                </select>
              </div>
            </div>
          </div>


            <div *ngIf="form.controls.doyousmoke.value=='Y'">


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="hasError('doyousmokecigarette')">
                    <label class="control-label bold">7.1 Do you smoke cigarettes?</label>
                  <select class="form-control " formControlName="doyousmokecigarette" id="doyousmokecigarette" name="doyousmokecigarette">
                    <option value="">--Select--</option>
                    <option value="Occassionally">Occassionally</option>
                    <option value="1-5 cigarettes a day">1-5 cigarettes a day</option>
                    <option value="6-10 cigarettes a day">6-10 cigarettes a day</option>
                    <option value="11-15 cigarettes a day">11-15 cigarettes a day</option>
                    <option value="16-20 cigarettes a day">16-20 cigarettes a day</option>
                    <option value="More than 20 a day">More than 20 a day</option>
                  </select>
                </div>
              </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" [ngClass]="hasError('doyousmokeshisha')">
                    <label class="control-label bold">7.2. Do you smoke shisha?</label>
                  <select class="form-control " formControlName="doyousmokeshisha" id="doyousmokeshisha" name="doyousmokeshisha">
                    <option value="">--Select--</option>
                    <option value="Occassionally">Occassionally</option>
                    <option value="Once a week">Once a week</option>
                    <option value="2-3 times a week">2-3 times a week</option>
                    <option value="4-5 times a week">4-5 times a week</option>
                    <option value="6 times a week">6 times a week</option>
                    <option value="Everyday">Every day</option>
                  </select>
                </div>
              </div>
            </div>
            </div>


            <div class="divider" style="margin-top:10px"></div>
            <div class="form-actions text-right">
              <button class="btn btn-primary rounded" type="button" id="btnSubmit" (click)="onSubmit()">Submit</button>
              <button class="btn default rounded" type="button" (click)="bsModalRef.hide()">Close</button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
