<div class="page-wrapper">
<div class="page-wrapper-row"  style="width:100%;background-color:red;">
    <div class="page-wrapper-top">
        <div class="page-header">
            <div class="page-header-top">
                <div class="page-logo">
                    <a href="javascript:void(0)"><img src="../assets/img/logo-default-white.png" alt="logo" class="logo-default"></a>
                </div>
            </div>
            
        </div>
        <!-- END HEADER -->
    </div>
</div>
<div class="page-wrapper-row full-height">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">

            <router-outlet>
                </router-outlet>

    </div>

    <script>
        window.__theme = 'bs4';
    </script>
       
    
    

</div>

</div>
