
  <div class="portlet gray modal-xl" style="margin:0px;">

      <div class="title">
        Patient Information
      </div>
      <div class="portlet-body form">
  
        <form [formGroup]="form" class="ui form">
          <div class="form-body">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('firstname')">
                  <label class="control-label">First Name English
                    <span class="required">*</span>
                  </label>
                  <input type="text" id="firstname" maxlength="50" formControlName="firstname" name="firstname" class="form-control ">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('secondname')">
                  <label class="control-label">Second Name English
                    <span class="required">*</span>
                  </label>
                  <input type="text" id="middlename" maxlength="50" formControlName="secondname" name="middlename" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Grand Father Name English</label>
                  <input type="text" id="grandfathername" maxlength="50" formControlName="grandfathername" name="grandfathername" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('lastname')">
                  <label class="control-label">Last Name English
                    <span class="required">*</span>
                  </label>
                  <input type="text" id="lastname" maxlength="50" formControlName="lastname" name="lastname" class="form-control">
                </div>
              </div>
            </div>
  
            <div class="divider"></div>
  
            <div class="row">
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('gender')">
                  <label class="control-label">Gender
                    <span class="required">*</span>
                  </label>
                  <select class="form-control " formControlName="gender" id="gender" name="gender">
                    <option value="">--Select--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('dateofbirth')">
                  <label class="control-label">Date of Birth
                    <span class="required">*</span>
                  </label>
                  
  
                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1910:2018" inputStyleClass="form-control date-control" id="birthdate" (onSelect)="onSelectMethod($event)"
                    formControlName="dateofbirth" [style]="{'width':'100%'}" dateFormat="dd-M-yy"></p-calendar>
  
  
  
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('maritalstatus')">
                  <label class="control-label">Marital Status
                    <span class="required">*</span>
                  </label>
                  <select class="form-control " id="maritalstatus" name="maritalstatus" formControlName="maritalstatus">
                    <option value="">--Select--</option>
                    <option *ngFor="let m of civilStatus" [value]="m.id">{{m.maritalstatus}}</option>
                  </select>
  
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('nationality')">
                  <label class="control-label">Nationality
                    <span class="required">*</span>
                  </label>
                  <select class="form-control " id="nationality" name="nationality" formControlName="nationality">
                    <option value="">--Select--</option>
                    <option *ngFor="let c of countries" [value]="c.id">{{c.country}}</option>
                  </select>
  
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Home Phone</label>
                  <input type="text" id="homephone" maxlength="50" formControlName="homephone" name="homephone" class="form-control ">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('mobileno')">
                  <label class="control-label">Mobile No.
                    <span class="required">*</span>
                  </label>
                  <input type="text" id="mobileno" maxlength="50" formControlName="mobileno" name="mobileno" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('emailaddress')">
                  <label class="control-label">Email Address</label>
                  <input type="text" id="emailaddress" maxlength="50" formControlName="emailaddress" name="emailaddress" class="form-control">
                </div>
              </div>
  
            </div>
  
  
            <div class="divider"></div>
  
            <div class="row">
              <div class="col-md-6" [ngClass]="hasError('address1')">
                <div class="form-group">
                  <label class="control-label">Adress 1
                    <span class="required">*</span>
                  </label>
                  <input type="text" id="address1" maxlength="200" formControlName="address1" name="address1" class="form-control ">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Adress 2</label>
                  <input type="text" id="address2" maxlength="200" formControlName="address2" name="address2" class="form-control ">
                </div>
              </div>
  
  
            </div>
  
  
            <div class="divider"></div>
  
            <div class="row">
              <div class="col-md-3">
                <div class="form-group" [ngClass]="hasError('company')">
                  <label class="control-label">Company/Employer
                    <span class="required">*</span>
                  </label>
                  <select class="form-control " id="company" name="company" formControlName="company">
                    <option value="">--Select--</option>
                    <option value="0">Not Applicable</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Employee No. </label>
                  <input type="text" id="employeeno" maxlength="50" formControlName="employeeno" name="employeeno" class="form-control">
                </div>
              </div>
  
            </div>
            <div class="divider"></div>
            <div class="form-actions text-right">
              <button class="btn btn-primary rounded" type="button" id="btnSubmit" (click)="onSubmit()">Submit</button>
              <button class="btn default rounded" type="button" (click)="bsModalRef.hide()">Close</button>
            </div>
          </div>
        </form>
      </div>
  
    </div>
  
  
  