.btn{
    margin-right:5px;
}
.p-toolbar{
    margin-bottom: 5px !important;
}

p-growl {
    z-index: 99999999999 !important;
}





  .blue{
      background-color: #0070c0;
      color:white;
  }

  .green{
    background-color: #00b050;
    color:white;
}

.amber{
    background-color: #ffc000;
    color:white;
}

.lightred{
    background-color: #ff0000;
    color:white;
}

.red{
    background-color: #c00000;
    color:white;
}

.yellow{
    background-color: #ffff00;
    color:white;
}

.modal-questioanaire{
    overflow: visible !important;
    max-width: 800px !important;
}

/*Report Style Start*/
.report{
    width:1000px;
    min-height: 500px;    
    padding:10px;
    background-color: white;
    margin:auto;
}
.loading{
        width:1000px;
        min-height: 500px;    
        padding:10px;
        background-color: white;
        margin:auto;
}
.report table{
    width: 100%;
}
.divider{
    border-bottom:1px solid #2f3030;
}
.title{
    font-size: 15px;
}
.report_title{
    text-align: left;
    height: 70px;
}
.report_title .title_holder{
    width:400px;
    float: left;
}
.report_title h5{
   
    color:#1b7448;
    text-align: left;
    font-size: 21px;
    text-transform:uppercase;
  
   
}

.report_title h6{
    color:#2f3030;
}
.report_title .logo{
    float: right;
    width: 180px;
}
.print_date{
    font-size: 12px;
}
.body{
    margin-top:5px;
}
.body table{
    width:100%;
}
.body table th{
    font-size: 13px !important;
    border: 1px solid #43474c;
    text-align: center;
}
.body table td{
    font-size: 13px !important;
    font-weight: normal;
    border: 1px solid #43474c;
    text-indent: 5px;
}
.report td{
    padding:2px;
    width: 50%;
}
.label{
    color:black;
    width: 120px;
    font-size:13px;
    text-transform: uppercase;
    line-height: 30px;
    vertical-align: top;
    display:inline-table;
    text-align: right;
    margin-right: 4px;
    
}
.value{
    color:black;
    line-height: 30px;
    font-size:16px;
    vertical-align: top;
    text-transform: uppercase;
    display:inline-table;
}
.padding{
    padding:10px;
}

.badge-points{
    width:30px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 50% !important; 
    -moz-border-radius: 50%!important; 
    border-radius: 50% !important; 
    text-align: center;
    margin:auto;
    text-indent: 0px;
}

.text-center{
    text-align: center !important;
}

.text-right{
    text-align: right !important;
}
/*Report Style End*/